body{
	margin:0;
	padding:0;
}
a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.mobile-menu-btn {
	background: none;
	border: none;
	outline: none;
}
.mobile-menu-btn:focus{outline:none;}


/*---------- main menu style start ---------*/
.main-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main-menu ul li {
  position: relative;
}

.main-menu ul li a {
  color: #222222;
  font-size: 15px;
  padding: 37px 15px;
  font-weight: 400;
  display: block;
  text-transform: capitalize;
}
.main-menu ul li a i {
  font-size: 14px;
  padding: 0 3px;
}
.main-menu ul li:first-child a {
  padding-left: 0;
}
.main-menu ul li:hover > a, .main-menu ul li.active > a {
  color: #c29958;
}
.main-menu ul li ul.dropdown {
  top: calc(100% - 1px);
  left: 0;
  width: 220px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  pointer-events: none;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  border: 1px solid #efefef;
}
.main-menu ul li ul.dropdown li {
  margin-right: 0;
  border-right: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.main-menu ul li ul.dropdown li a {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: capitalize;
  position: relative;
  border-bottom: 1px dashed #efefef;
  z-index: 1;
}
.main-menu ul li ul.dropdown li a:before {
  width: 10px;
  height: 1px;
  left: 20px;
  top: 50%;
  content: ' ';
  position: absolute;
  background-color: #c29958;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}
.main-menu ul li ul.dropdown li a i {
  float: right;
  padding-top: 5px;
}
.main-menu ul li ul.dropdown li:hover > a {
  color: #c29958;
  background-color: #fff;
  padding-left: 35px;
}
.main-menu ul li ul.dropdown li:hover > a:before {
  opacity: 1;
  visibility: visible;
}
.main-menu ul li ul.dropdown li:hover > ul.dropdown {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.main-menu ul li ul.dropdown li ul.dropdown {
  top: 100%;
  left: 100%;
  position: absolute;
  width: 250px;
  opacity: 0;
  visibility: hidden;
}
.main-menu ul li ul.dropdown li:last-child a {
  border-bottom: none;
}
.main-menu ul li ul.megamenu {
  width: 100%;
  max-width: 1110px;
  padding: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 20px);
      -ms-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
}
@media all and (min-width: 992px) and (max-width: 1199.98px) {
  .main-menu ul li ul.megamenu {
    max-width: 100%;
  }
}
.main-menu ul li ul.megamenu li {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}
.main-menu ul li ul.megamenu li.mega-title {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.main-menu ul li ul.megamenu li.mega-title span {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}
.main-menu ul li ul.megamenu li.mega-title span:before, .main-menu ul li ul.megamenu li.mega-title span:after {
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  content: ' ';
  position: absolute;
  background-color: #ebebeb;
}
.main-menu ul li ul.megamenu li.mega-title span:after {
  width: 50%;
  background-color: #c29958;
}
.main-menu ul li ul.megamenu li a {
  padding: 6px 0;
  border-bottom: none;
}
.main-menu ul li ul.megamenu li a:before {
  left: 0;
}
.main-menu ul li ul.megamenu li ul li {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.main-menu ul li ul.megamenu li:hover > a {
  color: #c29958;
  padding-left: 15px;
}
.main-menu ul li:hover ul.dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.main-menu ul li:hover ul.megamenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*Akhan Theke Mobile Menu*/
/*----- mobile menu start -----*/
.mobile-header {
  padding: 10px 0;
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span {
	width: 36px;
	height: 5px;
	display: block;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	background-color: #222222;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
}
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(2), .mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(3) {
  margin-top: 5px;
}
.mobile-navigation nav {
  height: 100%;
}
.mobile-menu {
  margin-top: 30px;
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  margin-right: -30px;
}
@media all and (max-width: 479.98px) {
  .mobile-menu {
    margin-top: 15px;
  }
}

.mobile-menu li > a {
	font-size: 30px;
	color: #222222;
	text-transform: capitalize;
	line-height: 34px;
	position: relative;
	display: inline-block;
	padding: 10px 0;
}

.mobile-menu li > a:hover {
  color: #c29958;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0 8px;
}

.mobile-menu li.menu-item-has-children {
  display: block;
  position: relative;
}

.mobile-menu li.menu-item-has-children .dropdown {
  padding-left: 15px;
}

.mobile-menu li.menu-item-has-children .menu-expand {
  line-height: 50;
  top: -5px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.mobile-menu li.menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #222222;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu li.menu-item-has-children .menu-expand i::before {
	top: 0;
	width: 100%;
	content: "";
	display: block;
	position: relative;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	/* transform: rotate(90deg); */
	border-bottom: 1px solid #222222;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	height: 100%;
}

.mobile-menu li.menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
/*------ offcanvas widget area end ------*/
.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}
.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}
.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
/*ata*/
.off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  cursor: url("../img/icon/cancel.png"), auto;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #fff;
  width: 85%;
  padding: 20px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
      -ms-transform: translateX(calc(-100% - 50px));
          transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.off-canvas-wrapper .btn-close-off-canvas {
  top: 0;
  left: 100%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #c29958;
}
.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
}
